---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Custom avatar sizing */
.author__avatar {
  width: 512px;
  height: 512px;
}
// .author__avatar img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   display: block;
//   border-radius: 50%;
// }

/* Footer alignment - change to: left, center, or right */
.page__footer-follow,
.page__footer {
  text-align: center !important;
}

.page__footer .page__footer-copyright {
  display: block;
  text-align: center !important;
}