---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Custom avatar sizing */
.author__avatar {
  width: 512px;
  height: 512px;
}

/* Footer alignment - change to: left, center, or right */
.page__footer-follow {
  text-align: center;
}

.page__footer-copyright {
  text-align: center;
}